@page "/febonacci"
@rendermode InteractiveServer

<h3>Febonacci</h3>
<label for="Feb"></label>

@code {
    
    // for (int i=1; i < 20; i++)
    //  {
    //      Feb(i);
    //  }
    
    
    // static long Feb(int n)
    // {
    //     if (n < 3)
    //         return 1;
    //     else
    //         return Feb(n - 2) + Feb(n - 1);
    // }

     
}
