@page "/febonacci"
@rendermode InteractiveServer

<h3>Febonacci</h3>

<input type="number" name="digit"min="0" @bind="digit" @onclick="Calc" />
<label>=</label>
<label> 
    @string.Join(" ", series)
</label>

@code {
    decimal digit = 1;
    List<decimal> series = new List<decimal> { 1, 2 };

    void Calc()
    {
        for (int i = series.Count; i<=digit;i++)
        {
            series.Add(series[i - 1] + series[i - 2]);
        }
    }
    
     
}
