@page "/power"
@rendermode InteractiveServer
<h3>Power</h3>
<input type="number" name="digit" min="0" @bind="digit"/>
<label>^</label>
<input type="number" name="power" min="0" @bind="power"/>
<button @onclick="Pow">=</button>
<label style="font-size:24px;">@result</label>

@code {
    double digit = 1;
    double power = 1;
    double result;
    void Pow()
    {
        result = 1;
        result = Math.Pow(digit, power);
    }
}
